#footer {
    background-color: var(--footer-color);
    color: var(--footer-text-color);

    text-align: center;
    padding: 30px 20px;

    font-size: 18px;
}

@media (max-width: 768px) {
    #footer {
        font-size: 14px;
        padding: 20px 15px;
    }
}
